@font-face{
    font-family: Roboto;
    src: url('font/RobotoCondensed-Regular.ttf');
}
@font-face{
    font-family: RobotoBold;
    src: url('font/RobotoCondensed-Bold.ttf');
}
li a, .card, p, a{
    font-family: "Roboto";
    font-size: 1.8rem;
}
li{
    padding-right: 20px;
}
ul li a{
    padding-right: 2rem;
    padding-left: 2rem;
}
.imgCenter{
    margin: auto;
}
.Ptable{
    border: none;
}
#footer{
    background-color: darkgrey;
    color: #f5f5f5;
    padding: 30px;
}
